Package: bodhi-background-minimal
Version: 0.02
Architecture: all
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Depends: enlightenment
Section: unknown
Priority: optional
Homepage: http://bodhilinux.com
Description: Bodhi background by Vaidotas
  A custom Bodhi wallpaper
  Thanks, Vaidotas!
